@import url('https://fonts.googleapis.com/css?family=Exo%202');
body {
  font-family: 'Exo 2', sans-serif;
}

main {
  max-width: 1200px; 
  width: 90%; 
  margin: 0 auto; 
}

body {
  background-color: #7ccaac;
  margin: 1em 3em;
}
h1 {
  color: white;
  text-align: center;
}
header p {
  color: white;
  text-align: center;
  font-weight: bold;
}
nav {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table,th,td {
  border: 1px solid black;
}

#complex tr:nth-child(even) {
  background-color: #777;
  color: #fff; }

footer{
  margin-top: 20px;
}

/* Tables*/
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  display: inline;
}
input[type="reset"] {
  display: block;
  width: 30%;
  margin: 0.5em;
  height: 1.5em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  color: white;
}
input[type="submit"] {
  display: block;
  width: 30%;
  margin: 0.5em;
  height: 1.5em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  color: white;
}
fieldset {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

label {
  display: block;
  margin: 0.5rem 0;
}
.question{
  margin: 10px 0 0 0;
}
/* Website Evaluation */
a {
  color: white;
}
#main-firstscript button {
  display: block;
  width: 13%;
  margin: 0.5em;
  height: 2.5em;
  font-size: 1.1 rem;
  color: black;
}
#main-firstscript img {
  width: 50%;
}
#button2 {
  display: inline;
  width: 10%;
  font-size: .9em;
}
#animalButton{
  height: 3em;
}
.intro-page img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.intro-page li {
  margin-top: 5px;
}

@media screen and (min-width: 601px) and (max-width: 980px) {
  main {
    max-width: 90%;
    width: 90%;
  }
  img {
    width: 70%;
  }
  footer, header {
    font-size: 18px;
  }
}


@media screen and (min-width: 601px) and (max-width: 980px) {
  main {
    max-width: 90%;
  }
  img {
    width: 60%;
  }
}

@media screen and (min-width: 370px) and (max-width: 600px) {
  main {
    max-width: 70%;
  }
  img {
    width: 50%;
  }
}

#calc-body {
  margin: auto;
  background-color: white;
  height: 325px;
  width: 250px;
  border: black solid 10px;
  box-sizing: border-box; 
}
#calc-body input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}
#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}
#buttons button {
  height: 40px;
}
#equalsButton {
  grid-column: span 4;
  
}
/* Slideshow */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.demo {
  opacity: 0.6;
  height: 80px;
  object-fit: cover; 
}


.column {
  float: left;
  width: 10%; 
  margin: 0 2%; 
}


.column:nth-child(10n + 1) {
  clear: left;
}

.active,
.demo:hover {
  opacity: 1;
}
#intro-cap {
  text-align: center;
}

/* Footer styling */
.no-text-decoration {
  text-decoration: none;
}

.validator-image {
  border: 0;
  width: 88px;
  height: 31px;
}