.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table,th,td {
  border: 1px solid black;
}

#complex tr:nth-child(even) {
  background-color: #777;
  color: #fff; }

footer{
  margin-top: 20px;
}