<header>
    <h1>Caden Clark's Captivating Caribou || ITIS 3135</h1>
    <p>"Built for Strength, Designed for Precision."</p>
    <nav>
        <a href="./">Home</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        <a href="about.html">About</a>
        ||
        <a href="tables.html">Tables</a>
        ||
        <a href="forms.html">Forms</a>
        ||
        <a href="website_evaluations.html">Website Evaluations</a>
        ||
        <a href="firstscripts.html">First Scripts</a>
        ||
        <a href="byo_intro.html">BYO Intro</a>
        ||
        <a href="project_1.html">Project 1</a>
        ||
        <a href="calculator_try.html">Calculator Try</a>
        ||
        <a href="calculator_fcc.html">Calculator FCC</a>
        ||
        <a href="arrays.html">Arrays</a>
        ||
        <a href="interactiveDrawing.html">Interactive Drawing</a>
        ||
        <a href="peer_review1.html">Peer Review 1</a>
        ||
        <a href="peer_review2.html">Peer Review 2</a>
        ||
        <a href="slideshow.html">Slideshow</a>
        ||
        <a href="Clark-Activity14.html">Activity 14</a>
    </nav>
    <nav>
        <a href="stuff/BOrinG StuFF😁.htm">CRAP Site</a>
        ||
        <a href="hobby">Hobby</a>
        ||
        <a href="client_pages">Client Project</a>
    </nav>
</header>